.beyonce-main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    height: 450px;
  }

  .tone-1 {
    display: flex;
    justify-content: center;
    flex: 1;

    background-color: #f7f7f6;

    .product-info {
      display: flex;
      flex-direction: column;
      align-items: center;

      width: 80%;
      @media screen and (min-width: 768px) {
        align-items: flex-start;
      }

      h1 {
        font-size: 2.5rem;
        font-weight: 900;
        color: #333;

        margin: 30px 0;
      }

      p {
        font-weight: 300;
        line-height: 1.4;
      }
      .info-btns {
        display: flex;
        align-self: end;
        cursor: pointer;

        margin: 12px 0;
        z-index: 1;
        @media screen and (min-width: 768px) {
          margin: 28px 0;
        }

        .discover-btn {
          width: 150px;
          background-color: #191618;
          color: #fff;
          outline: none;
          border: none;
          text-transform: uppercase;
          cursor: pointer;
          padding: 10px 8px;
          letter-spacing: 1.2px;
        }

        @media screen and (min-width: 1024px) {
          .discover-btn:hover {
            animation: 1s ease-in-out;
            transform: translateY(-3px);
            box-shadow: 0px 5px 12px -4px rgba(0, 0, 0, 0.75);
          }
        }
      }
    }
  }

  .tone-2 {
    position: relative;

    display: flex;
    justify-content: center;
    flex: 1;

    background-color: #f9e2ba;

    img {
      position: absolute;
      top: -170px;

      width: 85%;

      @media screen and (min-width: 768px) {
        width: 125%;
        right: 0;
        top: 0;
      }
    }
  }
}

.basketball-shoes {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 30px auto 0;
  @media screen and (min-width: 600px) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .bball-card {
    display: flex;
    background-color: #ebeff1;
    margin-bottom: 25px;
    @media screen and (min-width: 600px) {
      width: 49%;
      &:first-child,
      &:nth-child(3) {
        margin-right: 10px;
      }
    }
    @media screen and (min-width: 960px) {
      width: 24%;
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
    }

    .bball-section {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      @media screen and (min-width: 600px) {
        min-height: 150px;
      }
      @media screen and (min-width: 960px) {
        flex-direction: column;
        align-items: center;
        min-height: 200px;
      }
    }

    img {
      width: 35%;
      @media screen and (min-width: 600px) {
        width: 50%;
      }
      @media screen and (min-width: 960px) {
        width: 65%;
      }
    }

    span {
      font-size: 0.9375rem;
      font-weight: 400;
      letter-spacing: 1.1px;
      text-decoration: underline;
      text-transform: uppercase;
      text-align: right;
      color: #000;
      padding-bottom: 10px;
      @media screen and (min-width: 600px) {
        padding-right: 10px;
      }
    }
  }
}

.new-collection {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto 30px;
  @media screen and (min-width: 1024px) {
    width: 100%;
    margin: 0;
  }

  .red-trefoil {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 1024px) {
      flex-direction: row;
      position: relative;
    }

    .red-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 500px;
      background-color: #bf001f;
      background-image: url("../img/trefoil-pink.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: bottom;
      @media screen and (min-width: 1024px) {
        justify-content: center;
        flex: 1;
      }

      p {
        width: 70%;
        color: #fff;
        text-transform: uppercase;
        font-size: 2.5rem;
        font-weight: 300;
        text-align: center;
        line-height: 1.3;
        padding: 20px 0;

        span {
          font-weight: 700;
        }
      }

      .view-new-btn {
        background-color: #a6031c;
        color: #fff;
        outline: none;
        border: none;
        text-transform: uppercase;
        padding: 15px 10px;
        cursor: pointer;
      }
    }
  }

  @media screen and (min-width: 1024px) {
    .bg-img {
      background-image: url("../img/red-shoe.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 50%;
      flex: 1;
    }
  }
}

//   .tokyo-olympics {
//     position: relative;
//     display: flex;
//     flex-direction: column;
//     height: 500px;
//     border: 2px #000 solid;
//     // background-image: url("../img/tokyo-runner.png");
//     background-repeat: no-repeat;
//     background-size: contain;

//     .athlete-imgs {
//       display: flex;
//       flex-direction: row;
//       width: 100%;

//       .athlete-card {
//         height: 200px;
//         width: 200px;
//       }

//       img {
//         width: 40%;
//       }
//     }

//     p {
//       font-weight: 300;
//       line-height: 1.4;
//     }

//     .olympics-btns {
//       display: flex;
//       flex-direction: column;

//       button {
//         width: 150px;
//         background-color: #000;
//         color: #fff;
//         outline: none;
//         border: none;
//         text-transform: uppercase;
//         padding: 15px;
//         margin: 5px 0;
//         cursor: pointer;
//       }
//     }
//   }
// }
