.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }

  .tone-1 {
    display: flex;
    justify-content: center;
    flex: 1;

    background-color: #f7f7f6;

    .product-info {
      display: flex;
      flex-direction: column;
      align-items: center;

      width: 80%;
      @media screen and (min-width: 768px) {
        align-items: flex-start;
      }

      h1 {
        font-size: 2.5rem;
        font-weight: 900;
        color: #333;

        margin: 30px 0;
      }

      p {
        font-weight: 300;
        line-height: 1.4;
      }
      .info-btns {
        display: flex;
        align-self: end;
        cursor: pointer;

        margin: 12px 0;
        z-index: 1;
        @media screen and (min-width: 768px) {
          margin: 28px 0;
        }

        .discover-btn {
          background-color: #6b6e77;
          color: #fff;
          outline: none;
          border: none;
          text-transform: uppercase;
          cursor: pointer;
          padding: 8px;

          a {
            color: #fff;
          }
        }

        .buy-btn {
          background-color: #191618;
          color: #fff;
          outline: none;
          border: none;
          text-transform: uppercase;
          cursor: pointer;
          padding: 8px;

          a {
            color: #fff;
          }
        }

        @media screen and (min-width: 1024px) {
          .discover-btn:hover {
            animation: 1s ease-in-out;
            transform: translateY(-3px);
            box-shadow: 0px 5px 12px -4px rgba(0, 0, 0, 0.75);
          }
          .buy-btn:hover {
            animation: 1s ease-in-out;
            transform: translateY(-3px);
            box-shadow: 0px 5px 12px -4px rgba(0, 0, 0, 0.75);
          }
        }
      }
    }
  }

  .tone-2 {
    position: relative;

    display: flex;
    justify-content: center;
    flex: 1;

    background-color: #f9e2ba;

    img {
      position: absolute;
      top: -170px;

      width: 85%;

      @media screen and (min-width: 768px) {
        width: 125%;
        right: 0;
        top: 0;
      }
    }
  }
}
